@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    background: linear-gradient(135deg,  #83a8df, #c3cfe2);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.container{
    background: #fff;
    width: 100%;
    max-width: 880px;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 2rem;
}
h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
    position: relative;
}
h1::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 4px;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border-radius: 2px;
}
#Generator-btn{
    display: block;
    margin: 0 auto 2rem auto;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: back 0.3s ease;
    cursor: pointer;
}
#Generator-btn:hover{
    background: linear-gradient(90deg, #e52e71, #ff8a00);
    transition: all 0.9s ease;
    transform:  scale(1.1);
}
#Generator-btn:active{
    transform: scale(1.05);
}
.palette-container{
    display: grid;
    gap: 1rem;
    overflow: hidden;   
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
.color-box{
border-radius: 10px;
overflow: hidden;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
transition: transform 0.2s ease;
}
.color-box:hover{
    transform: translateY(-5px);
}
.color{
    height: 120px;
    cursor: pointer;
}
.color-info{
    background-color: #fff;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}
.hex-value{
    font-weight: 500;
    color: #333;
    letter-spacing: 0.05rem;
}
.copy-btn{
    cursor: pointer;    
    color: #64748b;
}
.copy-btn:hover{
    color: #ff8a00;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@media(max-width: 768px){
    .palette-container{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}